@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root{
    --main-color: #EEDBAE;
    --font-color : #C60101;
}

body{
    margin: 0;
    font-size: 10px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

p, label{
    font-size: 1.5rem;
}

header {
    font-family:'Crimson Text', serif;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--main-color); 
    height: 15vh;
}

.container{
    font-family:'Crimson Text', serif;
    color: var(--font-color);
    height : 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

form{
    width: 50vw;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
}

.field{
    display: flex;
    flex-direction: column;
}

.name-field{
    grid-column: 1 / -1;
}

.submit-container{
    grid-column: 2 / -1;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

label{
    text-decoration: none;
    font-weight: 700;
}

input{
    font-family:'Crimson Text', serif;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: black;
    border: none;
    border-bottom: 3px solid var(--font-color);
}

input:focus,
select:focus{
    outline:none;
}

select{
    font-family:'Crimson Text', serif;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    border-bottom: 3px solid var(--font-color);
}

option{
    color: var(--font-color);
    background-color: var(--main-color);
    border: none;
}

.default-option{
    display: none;
}

.submit-btn{
    width: 8rem;
    height: 3rem;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
}

.submit-btn:hover,
.submit-btn:focus{
    cursor: pointer;
    border: 3px solid var(--font-color);
    outline: none;
}

h2{
    font-size: 2.7rem;
}

.fiche-perso{
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: repeat(4 1fr);
    row-gap: .5rem;
}

.info{
    color: black;
    font-size: 2.5rem;
    text-decoration: none;
}

.show-name{
    grid-column: 1 / 5;
}
.show-pv{
    grid-column: 5 / 9;
}
.show-ca{
    grid-column: 9 / 12;
}

.show-classe{
    grid-column: 1 / 6;
}

.show-race{
    grid-column: 6 / 12;
}

.show-weapon{
    grid-column: 1 / 12;
}

.show-spell{
    grid-column: 1 / 12;
}

footer {
    font-family:'Crimson Text', serif;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 15vh;
}